# Fast and persistent use nix implementation (https://github.com/nix-community/nix-direnv)
if ! has nix_direnv_version || ! nix_direnv_version 2.3.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.3.0/direnvrc" "sha256-Dmd+j63L84wuzgyjITIfSxSD57Tx7v51DMxVZOsiUD8="
fi

# Activate nix-shell
use nix

# Reload if these files changes
nix_direnv_watch_file ./shell.nix

# allow local .envrc overrides
[[ -f .envrc.local ]] && source_env .envrc.local