# Nix
result*

# Node.js
coverage
dist
node_modules
dist

# Terraform
.terraform
.terraform.lock.hcl
terraform.tfstate*

# Secure content
secure
js/portal/test/integration/alice.json
js/portal/test/integration/bob.json

# IntelliJ
.idea
*.iml

# Antora (docs)
workspace
docs/build
docs/package-lock.json

# Miscellaneous 
.DS_Store