.SwapCreateContainer {
  background-color: #101010 !important;
  padding: 1rem 2rem 1rem 2rem !important;
  border-radius: 2rem;
  /* width: 500px !important; */
  margin-bottom: 3em !important;
}

.swapCreateForm {
  background-color: #101010 !important;
  padding: 1rem !important;
  border-radius: 1rem;
  border: 1px solid grey;
}

.swapGroup {
  display: flex !important;
  flex-direction: column !important;
}

.swapInput {
  display: flex !important;
  padding: 0.2rem;
  border: 1px solid grey !important;
}

.swapInput label { width: 120px; }

.swapInput input { padding-top: 0.2rem !important; padding-bottom: 0.2rem !important; }

.borderless { border: none !important; }

/** copied from SwapActivity */
.SwapHeader {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
}

.SwapCreateContainer .text {
  color: white !important;
}

.SwapFormText {
  color: white !important;
}

.swapExCont {
  background-color: black !important;
  border-radius: 1rem;
  border: 2px solid #3a3a3a;
}

.swapInput {
  background: transparent !important;
  color: white !important;
  border: none !important;
  font-weight: bold !important;
  font-size: 1.5em !important;
  padding: 0.3em 1em !important;
}

.coinType {
  text-align: right;
  margin-right: 1rem !important;
}
.coinType>div {
  background-color: #202020 !important;
  border-radius: 8px;
  padding: 10px;
  font-weight: bold;
}
.coinType img{
  width: 1.5rem !important;
  height: 1.5rem !important;
}
.exchange {
  text-align: center;
  position: absolute;
  margin-top: -20px !important;
  background-color: #202020 !important;
  color: white !important;
  border-color: darkgrey !important;
  border-radius: 8px !important;
  font-size: 1.5rem !important;
}
.exchange i { 
  transform: rotate(90deg);
  margin: 0 !important;
}
.balancePart {
  font-size: 1em;
  color: #6A6A6A !important;
  margin-bottom: 0 !important;
}