.SwapCreateContainer {
  background-color: #101010 !important;
  padding: 1rem 2rem 1rem 2rem !important;
  border-radius: 2rem;
  /* width: 500px !important; */
  margin-bottom: 3em !important;
}

.swapCreateForm {
  background-color: #101010 !important;
  padding: 1rem !important;
  border-radius: 1rem;
  border: 1px solid grey;
}

.swapGroup {
  display: flex !important;
  flex-direction: column !important;
}

.swapInput {
  display: flex !important;
  padding: 0.2rem;
  border: 1px solid grey !important;
}

.swapInput label { width: 120px; }

.swapInput input { padding-top: 0.2rem !important; padding-bottom: 0.2rem !important; }




/** copied from SwapHistory */
.SwapHeader {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
}

.SwapCreateContainer .text {
  color: white !important;
}

.SwapFormText {
  color: white !important;
}