.marginBottom {
  margin-bottom: 2rem !important;
}
.homeContainer {
}
.menu {
  margin: 0 !important;
  width: 100vw;
  height: 4em !important;
  background-color: black !important;
}
.allSystemOk{
  color: lightgreen !important;
}

.column { 
  width: 500px !important; 
  margin-top: 2em;
}