
.connectModal {
  background: #2B2B2B !important;
  border-radius: 1.5em !important;
  width: 500px !important;
  border: 1px solid #6b6b6b !important;
}
.logoIcon {
  padding: 0 !important;
}
.item {
  display: flex !important;
  justify-content: space-between !important;
  padding: 1rem !important;
  cursor: pointer;
}
.flex-between {
  display: flex !important;
  justify-content: space-between !important;
}
.recipient-addr {
  display: flex !important;
  background: black !important;
  color: white !important;
  border: 1px solid grey !important;
  font-weight: bold !important;
  font-size: 1em !important;
  padding: 0.5em !important;
  border-radius: 0.5em !important;
  width: 100% !important;
  margin: 1rem 0 1rem 0 !important;
}
.recipient-addr:focus {
  border: 1px solid black !important;
}
.exchange-btn {
  background: none !important;
  border: none !important;
}
.exchange-btn i {
  transform: rotate(90deg);
  color: lightgrey;
}
.modal-black-content { 
  width: 320px !important;
  background-color: #1A1A1A !important;
  border: 1px solid grey !important;
  border-radius: 12px !important;
  padding-left: 1rem !important;
}
.data-row>div {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.cancel-btn {
  background: transparent !important;
  color: #FF5959 !important;
  border: 2px solid #FF5959 !important;
  margin-left: 0 !important;
}
.cancel-btn:hover {
  background: #ff4d4d31 !important;
}
.rev-act-amount {
  justify-content: center !important;
  color: grey !important;
  border: 1px solid lightgrey;
  border-radius: 0.5em !important;
}
