.walletContainer {
  background-color: #101010 !important;
  padding: 1rem 2rem 1rem 2rem !important;
  border-radius: 2rem;
  width: 500px !important;
}
.walletHeader {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
}
.walletModal, .walletModal div{
  background-color: #101010 !important;
}
.rightArrow {
  margin: 0 0.2rem 0 0 !important;
  transform: rotate(-45deg);
}
.leftArrow {
  transform: rotate(45deg);
}
.gradientBorder {
  border: none !important;
  outline: none !important;
  background: linear-gradient(to right, #00FFA3, #DC1FFF) !important;
  z-index: 1;
  position: relative !important;
}
.gradientBorder::before {
  content: "";
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  border-radius: 1rem !important;
  background-color: #101010 !important;
  z-index: -1;
}
.gradientBorder::after {
  content: attr(data);
  font-size: 16px;
  background: linear-gradient(to left, #00FFA3, #DC1FFF);
  -webkit-background-clip: text;
  color: transparent;
}
.gradientBorder:hover::before {
  opacity: 50%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.gradientBorder:hover::after{
  color: white;
}
