#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card, .cards, .content {
  border-radius: 16px;
  color: #EAEAEA;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.ui.button {
  /* bw/EA */
  background: #EAEAEA;
  /* bw/EA */
  border: 1px solid #EAEAEA !important;
  border-radius: 16px;

}

.ui.primary.button {
  /* util/brand-gradient */
  background: radial-gradient(100% 181.89% at 0% 100%, #748AFE 7.29%, #A64EFF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  border-radius: 16px;
}

.ui.inline.dropdown {
  padding-top:0.3em;
  font-size: 1.5em;
  color: #000;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.user-swap {
  width: 50% !important;
  float: left !important;
}

body {
  background-color: #191b21 !important;
  color: white !important;
}

.flex-nowrap { flex-wrap: nowrap !important; }

.sw-title { width: 100px !important;}

td { overflow-wrap: anywhere;}

table { background-color: #191b21 !important; }

label, .header { color: white !important; }

button { padding: 0.5rem !important }

.card { background-color: black !important; }
.card * { color: white; }

h3 {
  font-size: 1.28571429rem !important;
  font-weight: bold !important;
}

.divider { margin: 0 !important; }

.left { text-align: left !important; }
.right { text-align: right !important; }
